<!-- teacher.html -->
<!DOCTYPE html>

<html lang="zh-Hant">

<head>

  <meta charset="UTF-8">
  <title>系所成員</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">

</head>

<body>

  <div class="wrap">
    
    <a href="{{ url_for('main.YiWen_Wang') }}" class="card-link">

      <div class="item">
        <img src="https://www.iecs.fcu.edu.tw/media/img/teacher/avatar/pic_01312.jpg">

        <div class="txt">

          <h2>王奕文</h2>

          <p>
            分機: <br>
            電子信箱: <br>
            研究專長: <br>
          </p>

        </div>

      </div>

    </a>

    <a href="{{ url_for('main.ChunHsiu_Yeh') }}" class="card-link">

      <div class="item">
        <img src="https://www.iecs.fcu.edu.tw/media/img/teacher/avatar/yei2-2.jpg">

        <div class="txt">
          <h2>葉春秀</h2>

          <p>
            分機: <br>
            電子信箱: <br>
            研究專長: <br>
          </p>

        </div>

      </div>

    </a>

    <a href="{{ url_for('main.ChinSheng_Yu') }}" class="card-link">

      <div class="item">
        <img src="https://www.iecs.fcu.edu.tw/media/img/teacher/avatar/pic_02019.jpg">

        <div class="txt">

          <h2>游景盛</h2>

          <p>
            分機: <br>
            電子信箱: <br>
            研究專長: <br>
          </p>

        </div>

      </div>

    </a>

  </div>

</body>

</html>